<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ClickEat</title>
    <style>
        html {
            background-color: skyblue;
        }
        h1 {
            text-align: center;
            font-family: sans-serif;
            color: blue;
        }

        h2 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            color: rebeccapurple;
        }
    </style>
</head>

<body>
    <h1>Hello <%= name %>
    </h1>
    <h2>Welcome to <a href="http://localhost:3000/customer">ClickEat!!</a></h2>
    <h2>Hope you have an amazing time...</h2>
    <h2>This mail was sent using nodemailer and skilsss</h2>
</body>

</html>