<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>

  <div class="head ">
    <div class="container py-1 ">
        <header class="d-flex flex-wrap align-items-center justify-content-md-between py-3 mb-2 border-bottom">

    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="option"><a href="/customer/home" class="nav-link px-2 link-secondary">Home</a></li>
            <li class="option"><a href="/customer/cart" class="nav-link px-2">Cart</a></li>
            <li class="option" ><a href="#" class="nav-link px-2">Offer</a></li>
            <li class="option"><a href="/customers/orders" class="nav-link px-2">Orders</a></li>

          </ul>
          <nav class="navbar bg-body-tertiaryv">
            <div class="container-fluid ">
              <form class="d-flex" role="search">
                <input class="form-control me-2 border-2 border-success" type="search" placeholder="Search" aria-label="Search">
                <button class="btn border-2 border-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
          <!-- <div class="col-md-3 text-end"> -->
            <div class="dropdown text-end ">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>
                </a>

                <ul class="dropdown-menu text-small" style="">

                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/customer/signout">Sign out</a></li>
                </ul>
              </div>
          <!-- </div> -->
          
        </header>
      
      </div>
        
</div>
<!-- Test !!!!!!!!!!!!!!!-->
<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/img/silde1.webp" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/img/silde2.webp" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
<!-- Test !!!!!!!!!!!!!!! -->
<div id="carouselExampleAutoplaying " class="carousel slide slidebar" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active "  data-bs-interval="5000">
      <img src="/img/silde1.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/img/slide2.webp" class="d-block w-100" alt="...">
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- 
<div class="slidebar">
      <section class="py-5 text-center container ">
        <div class="row py-lg-5 ">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light welcome">Welcome to ClickEat...</h1>
         
          </div>
        </div>
      </section>
    </div> -->




      <div class="main" >
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
            <div class="col box">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top  breakfast" width="100%" height="225"  role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Punjabi</title><rect  ></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body ">
                 
                  <div class="d-flex justify-content-between align-items-center">
                  
                    
                    <div class="type">
                            <p class="mb-0">Breakfast</p>
                    </div>

                       <div class="view btn-group ">
                     <a href="/customer/breakfast"><button type="button" class=" btn btn-sm btn-outline-secondary" >View</button></a> 
                      
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col box">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top chaat" width="100%" height="225"  role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Chaat</title><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">

                    <div class="type">
                      <p class="mb-0">Chaat</p>
              </div>

                    <div class="view btn-group">
                      <a href="/customer/chaat"><button type="button" class="  btn btn-sm btn-outline-secondary" ">View</button></a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col box">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top sandwiches " width="100%" height="225"  role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Sandwiches</title><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">

                    <div class="type">
                      <p class="mb-0">Sandwiches</p>
              </div>

                    <div class="view btn-group">
                     <a href="/customer/sandwiches"> <button type="button" class=" btn btn-sm btn-outline-secondary">View</button> </a> 
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col box">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top punjabi " width="100%" height="225"  role="img" aria-label="Placeholder:" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Pujnabi</title><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">

                    <div class="type">
                      <p class="mb-0">Punjabi Veg.</p>
              </div>

                    <div class="view btn-group">
                      <a href="/customer/punjabi"> <button type="button" class=" btn btn-sm btn-outline-secondary" >View</button> </a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col box">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top chinese" width="100%" height="225"  role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="type">
                      <p class="mb-0">Chinese</p>
              </div>
                    <div class="view btn-group">
                     <a href="/customer/chinese"> <button type="button" class=" btn btn-sm btn-outline-secondary">View</button> </a> 
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col box">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top southindian" width="100%" height="225"  role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Southindian</title><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">

                    <div class="type">
                      <p class="mb-0">South Indian </p>
              </div>

                    <div class="view btn-group">
                      <a href="/customer/southindian"><button type="button" class=" btn btn-sm btn-outline-secondary" >View</button></a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col box">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top fix" width="100%" height="225"  role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Fix Thali</title><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">

                    <div class="type">
                      <p class="mb-0">Fix Thali</p>
              </div>

                    <div class="view btn-group">
                      <a href="/customer/fixthali"><button type="button" class=" btn btn-sm btn-outline-secondary" >View</button></a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col box">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top colddrink" width="100%" height="225"  role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Cold Drink</title><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">

                    <div class="type">
                      <p class="mb-0">Cold Drinks </p>
              </div>

                    <div class="view btn-group">
                      <a href="/customer/colddrinks"> <button type="button" class=" btn btn-sm btn-outline-secondary">View</button> </a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col box">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top desserts" width="100%" height="225"  role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>Desserts</title><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                <div class="card-body">
                 
                  <div class="d-flex justify-content-between align-items-center">

                    <div class="type">
                      <p class="mb-0">Desserts</p>
              </div>

                    <div class="view btn-group">
                      <a href="/customer/desserts"> <button type="button" class=" btn btn-sm btn-outline-secondary" >View</button> </a>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>