<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" type = "text/css" href="/css/profile.css">
</head>

<body>

    <div class="container">
        <header class="heading">
            <h1>Profile</h1>
        </header>
        <hr>
        <div class="main-info">
            <div class="profile-pic">
                <img src="img/Default_profile_pic.png" alt="">
            </div>
            <div class="basic-info">
                <ul>
                    <li><strong>Name:</strong> </li>
                    <li><strong>Age:</strong></li>
                </ul>
            </div>
        </div>

        <div class="goal-info">
            <ul>
                <li><strong>Goal:</strong> Lose 5 kg</li>
                <li><strong>Current Progress:</strong> 2 kg lost</li>
            </ul>
        </div>

        <hr>
    </div>

</body>

</html>