body{
    display: flex;
    justify-content: center;
    background-color: beige;
}

.main{
    justify-content: center;
}

main{
  flex-direction:row;
  width: auto !important;
}
.food
{
 
  background-color: bisque;
  /* background-color: rgb(237, 226, 70); */
    background-color: rgb(255, 238, 0);
    border: 0.20rem solid #FF7800;
    border-radius: 0.5rem;
    box-shadow: 1px 0.5px 7px 0px #000000;
 
    margin: 0.2rem 0px ;
 
  
    padding: 0.5rem 0.8rem  !important;
 
}

.fulldiv{
display: flex;
justify-content: space-between;
align-content: space-between;

}

.fullbutton
{
  justify-self: flex-end;
  display: flex;
  justify-content:center;
  border-radius: 0.5rem;
  width: 63px !important;
  border: 2px solid;
  background-color: rgb(237, 169, 59);

  margin: 0px 10px ; 
}

.but{
    display:flex;
    justify-content: center;
    justify-self: flex-end;
    background-color:#FF7800;
    color: black;
  width: 20px;
  }

  .bot{
    border: hidden;
    background-color: #FF7800;
  border-radius: 0.4rem;
  
  }
  .price{
    justify-self: start;
    display: flex;

    align-items: end;
  }
  
  .all{
    display: flex;
    justify-content: space-between;
    margin: 0.1rem 0px;
  }

  .topay
  {
    font-size: 19px;
    font-weight: 650;
  }
  .itemtotal{
    font-size: 17px;
    font-weight: 600;
  }
  
  .bill{
    background-color: #ffffff;
    border: 1px solid black !important;
    border-radius: 0.6rem;
    padding: 0.7rem;

    box-shadow: 0px 0px 6px 0px black;
  }

  .forflex
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .yourcart
{
  margin-right: 15px;
}

@media only screen and (max-width: 480px) {
  .forflex {
    flex-direction: column;
  }
  .yourcart
  {
    margin-right: 0px;
    margin-bottom: 1rem;
  }
}

#updatebtn{
border: 3px solid;
border-radius: 7px;
  background-color:#FF7800 ;
  color:black;
font-size: 17px;
}

#updatebtn:active{
  box-shadow: inset 0px 0px 4px 0px black;
  font-size: 16px;
}

.update{
  margin-top: 0.8rem;
  display: flex;
  width: 100%;
  justify-content: center;
  
}